@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body {
        width: 100vw;
        height: 100vh;
    }
    #root {
        width: 100%;
        height: 100%;
    }
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
    h4 {
        @apply text-base;
    }
    h5 {
        @apply text-sm;
    }
    h6 {
        @apply text-xs;
    }
}

@layer utilities {
    .shadow-outer {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}
